@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu' , sans-serif;
}
/* :root
{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
} */
:root
{
    --blue: #287bff;
    --white:#fff;
    --grey:#f5f5f5;
    --black1:#222;
    --black2:#999;
}
body
{
    min-height: 100vh;
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 100%;
}
.navigetion
{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
}